<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Home | Sports Scheduler</title>
  <link rel="icon" href="/sports-icon.png" type="image/x-icon" />
  <link rel="stylesheet" href="/home.css" /> 
</head>

<body>
  <!-- Navbar Section -->
  <nav class="navbar">
    <div class="container">
      <ul>
        <li><a href="/register">Register</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/about-us">About Us</a></li>
      </ul>
    </div>
  </nav>

  <!-- Main Content Container -->
  <div class="container">
    <!-- Main Section: Introduction -->
    <div class="main-section">
      <h1 class="gradient-text">Welcome to the Sports Scheduler</h1>
      <p class="gradient-text">
        Revolutionize your sports journey with our cutting-edge platform! Seamlessly manage teams, schedules, and player stats,
        all in one place.
      </p>

      <!-- Features List Section -->
      <ul class="features-list">
        <li>
          <h2 class="gradient-text">Team Management</h2>
          <p class="gradient-text">Create and manage teams, assign players, and track statistics for various sports
            activities.</p>
        </li>
        <li>
          <h2 class="gradient-text">Schedule Management</h2>
          <p class="gradient-text">View and manage upcoming sports events, matches, and sessions. Filter by sport, date,
            and venue.</p>
        </li>
        <li>
          <h2 class="gradient-text">Player Registration</h2>
          <p class="gradient-text">Players can register, update profiles, and manage their participation in sports
            events.</p>
        </li>
        <li>
          <h2 class="gradient-text">Statistics and Reports</h2>
          <p class="gradient-text">Generate reports on team performance, player statistics, and participation. Analyze
            trends for data-driven
            decisions.</p>
        </li>
        <li>
          <h2 class="gradient-text">Notifications and Alerts</h2>
          <p class="gradient-text">Receive real-time notifications about schedule changes, upcoming events, and
            important announcements.</p>
        </li>
        <li>
          <h2 class="gradient-text">Administration Panel</h2>
          <p class="gradient-text">Administrators have access to a dashboard to manage users, teams, sessions, and
            system settings.</p>
        </li>
      </ul>
    </div>
  </div>
</body>
<!-- Footer Section -->
<footer class="footer">
  <div class="container">
    <p>&copy; 2025 Sports Scheduler. All Rights Reserved.</p>
  </div>
</footer>
</html>