<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Login</title>
    <link rel="icon" href="/sports-icon.png" type="image/x-icon" />
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body id="login-page">
    <div class="container">
      <form action="/login" method="POST">
        <h1>Login</h1>
        <label for="email">Email:</label>
        <input type="email" name="email" id="email" required />
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" required />
        <button type="submit">Login</button>
        <p>Don't have an account? <a href="/register">Register</a></p>
      </form>
    </div>
  </body>
  
</html>
